<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pedidos</title>
    <link rel="shortcut icon" href="/static/assets/chapel.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles/pedidos.css">
</head>
<body>

    <div class="background">
        
    </div>
    
    <h1>Pedidos</h1>
    <table border="1">
        <tr>
            <th>Nome do Prato</th>
            <th>Descrição</th>
            <th>Mesa</th>
        </tr>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.nome_prato }}</td>
            <td>{{ pedido.descricao }}</td>
            <td>{{ pedido.mesa }}</td>
        </tr>
        {% endfor %}
    </table>

    
</body>
</html>
